<div class="wrapper" #mapBoundary>

    <div id="map"></div>

    @if (!isPanelVisible) {
        <button class="panel-trigger" 
                (click)="togglePanel()" 
                title="Otwórz narzędzia">
        <i class="material-icons">build</i>
    </button>

    }


    @if (isPanelVisible) {
    <div class="map-controls-panel" cdkDrag [cdkDragBoundary]="mapBoundary">
        <div class="panel-header" cdkDragHandle>
            <i class="material-icons">drag_indicator</i>
            <span>Narzędzia trasy</span>

            <button class="close-btn" (click)="togglePanel()">
        <i class="material-icons">close</i>
      </button>
        </div>
    
        <div class="panel-body">
            <button [class.active]="mode === 'single'" (click)="setMode('single')" title="Linia między dwoma punktami">
            <i class="material-icons">straighten</i>
            <span>Dwa punkty</span>
            </button>

            <button [class.active]="mode === 'continuous'" (click)="setMode('continuous')" title="Kontynuuj od ostatniego punktu">
            <i class="material-icons">timeline</i>
            <span>Ciągła trasa</span>
            </button>

            <button [class.active]="mode === 'star'" (click)="setMode('star')" title="Wiele linii od startu">
            <i class="material-icons">hub</i>
            <span>Od punktu startu</span>
            </button>

            <hr>

            <button class="clear-btn" (click)="clearPreviousLine()">
            <i class="material-icons">delete_sweep</i>
            <span>Wyczyść mapę</span>
            </button>
        </div>
    </div>
}

</div>


