@import "leaflet/dist/leaflet.css";

:root {
  --dark-bg: #0d1117;
  --primary: #58a6ff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Zabrania przewijania całej strony */
}


/* Dostosowanie pozycji kontrolki zoom w Leaflet */
.leaflet-top {
  top: 7% !important;
}

.leaflet-left{
  /*left: 96% !important;*/
}

/* Główny kontener panelu */
.leaflet-control-layers {
  background: #1e1e1e !important; /* Ciemne tło */
  color: #ffffff !important;      /* Biały tekst */
  border: 1px solid #333 !important;
  border-radius: 8px !important;
  box-shadow: 0 4px 15px rgba(0,0,0,0.3) !important;
  font-size: 14px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Styl po rozwinięciu panelu */
.leaflet-control-layers-expanded {
  padding: 10px !important;
  min-width: 150px;
  background: transparent !important;
}

/* Styl nagłówków (jeśli dodasz separatory) */
.leaflet-control-layers-base, .leaflet-control-layers-overlays {
  padding: 5px 0;
}

/* Styl pojedynczej linii (label) */
.leaflet-control-layers label {
  margin-bottom: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.leaflet-control-layers label:hover {
  color: #58a6ff; /* Kolor po najechaniu */
}

/* Styl checkboxów i radio buttonów */
.leaflet-control-layers-selector {
  margin-right: 10px !important;
  padding: 15px !important;
  accent-color: #58a6ff; /* Nowoczesny kolor zaznaczenia */
}

/* Kontener główny - musi mieć stałą pozycję */
.leaflet-control-layers {
  display: flex;
  flex-direction: column-reverse; /* Odwraca kolejność: ikona na dole, lista nad nią */
  bottom: 0;
  margin-bottom: 10px !important;
  border: none !important;
  background: transparent !important; /* Przezroczyste tło dla kontenera, by nie mrugało */
}

/* Styl samej ikony (przycisku) */
.leaflet-control-layers-toggle {
  order: 2; /* Ikona zawsze na samym dole */
  background-color: #1e1e1e !important;
  border: 1px solid #333;
  border-radius: 8px !important;
}

/* Styl rozwijanej listy */
.leaflet-control-layers-list {
  order: 1; /* Lista pojawia się nad ikoną */
  background: #1e1e1e;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #333;
  margin-bottom: 5px; /* Odstęp między listą a ikoną */
  box-shadow: 0 4px 15px rgba(0,0,0,0.5);
}

.leaflet-control-layers-overlays {
  display: flex;
  flex-direction: column-reverse;
  bottom: 0;
  margin-bottom: -10px !important;
  border: none !important;
  background: transparent !important;
}

.leaflet-bottom.leaflet-left {
  top: 18% !important;
}
