:root {
  --dark-bg: #0d1117;
  --primary: #58a6ff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Zabrania przewijania całej strony */
}


/* dymek na mapie, który pokazuje informacje o danym miejscu, takie jak nazwa, współrzędne i dodatkowe informacje. Dymek zawiera również przycisk, który może być użyty do wykonania określonej akcji, np. otwarcia szczegółów miejsca. */

/* Dostosowanie pozycji kontrolki zoom w Leaflet */
.leaflet-top {
  top: 50px;
}

/*  */