:root {
  --dark-bg: #0d1117;
  --primary: #58a6ff;
}

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow: hidden; /* Zabrania przewijania całej strony */
}


/* Dostosowanie pozycji kontrolki zoom w Leaflet */
.leaflet-top {
  top: 87%;
}

.leaflet-left{
  left: 96%;
}

/*  */